/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0em;
    font-size: 16px;
    font-family: sans-serif;
    align-content: center;
    font-weight: lighter;
    color: black;
}


/* Navigatie */
nav a {
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

nav a:hover {
    text-decoration: underline;
}


/* top navigatie */

.topnav {
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
}

.navwork {
    top: 0;
    float: left;
    width: 7em;
}

.navtamar {
    overflow: hidden;
    top: 0;
    position: fixed;
    right: 30%;
    left: 30%;
    font-weight: 1000;
}

.navabout {
    top: 0;
    float: right;
    width: 7em;
}

/* bottom navigatie */

.bottomnav {
    overflow: hidden;
    width: 100%;
    bottom: 0;
    position: fixed;
    align-content: center;
}

.navcontact {
    bottom: 0;
    float: right;
    width: 7em;
}

/*homepage pagina's */
#introduction {
    width: 100%;
    align-content: center;
    margin-bottom: 3em;
}

h1:first-of-type {
    font-size: 2em;
    line-height: 1.4em;
    text-align: center;
    /*margin is 70,4px */
    max-width: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

h1:nth-of-type(2) {
    font-size: 2em;
    line-height: 1.4em;
    text-align: center;
    max-width: 10em;
    /*margin is 70,4px */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 0em;
}


.fototamar {
    display: block;
    height: auto;
    width: 60%;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0em;
}



/* about */

.about {
    display: grid;
    width: 100%;
}


h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-right: 2.933em;
    margin-left: 2.933em;
    margin-top: 2.5em;
    margin-bottom: 1em;
    text-align: left;
}

h3 {
    font-size: 1em;
    line-height: 1.4em;
    margin-right: 4.4em;
    margin-left: 4.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

p {
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5em;
}

.about img {
    display: block;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 4em;
}

/* projecten */

.projecten h2 {
    padding-top: 2.5em;
    margin-top: 0em;
}

.projecten img {
    display: block;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: 2.5em;
    padding-bottom: 3em;
}

.projecten a {
    text-decoration: none;
    color: black;
}


/* Projecten hover */

.semplice:hover {
    background-color: #F5F5F5;
}

.perfectroadtrip:hover {
    background-color: #F5F5F5;
}

.sportsafebracelet:hover {
    background-color: #F5F5F5;
}

.plogdedag:hover {
    background-color: #F5F5F5;
}





/* contact */

.kleureneind {
    margin-right: 100%;
    margin-left: 4.4em;
    margin-bottom: 4em;
    margin top: 0em;
    width: 25%;
    float: left;
}

p {
    margin-right: 4.4em;
    margin-left: 4.4em;
    margin-top: 2em;
}

.mail a {
    color: black;
    text-decoration: none;
    margin-right: 4.4em;
    margin-left: 4.4em;
    margin-bottom: 20em;
    width: 100%;

}


.contactlinks a {
    color: black;
    text-decoration: none;
    margin-right: 4.4em;
    margin-left: 4.4em;
    width: 50em;

}

.contactlinks a:hover {
    text-decoration: underline
}


ul {
    line-height: 3em;
    padding: 0;
    margin-top: 3em;
    list-style-position: outside;
    list-style-type: none;
}


.stageplek {
    margin-top: 4em;
    margin-bottom: 4em;
}


.mark {
    font-size: 1em;
    margin-bottom: 1.6em;
    margin-right: 4.4em;
    margin-left: 4.4em;
    text-align: center;
}


/* Perfect Road Trip */
.eersteonderdeel {
    display: grid;
}


.prtfirstimage {
    display: block;
    height: auto;
    width: 70%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.tweedeonderdeel {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
}

.prtvideo {
    width: 60%;
    max-width: 10em;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    border-radius: 1.2em;
    border-top: 1.8em solid black;
    border-bottom: 1.8em solid black;
    border-left: 0.4em solid black;
    border-right: 0.4em solid black;
}

.prtcomputer {
    width: 62%;
    max-width: 40em;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    border-radius: 1.2em;
    border: 0.5em solid black;
}

.procesimage {
       width: 62%;
    max-width: 40em;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
}


.vierdeonderdeel h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;

}

.vierdeonderdeel p {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}










/* scherm afmetingen */


@media (min-width: 550px) {

    /* 70,4px */
    h2 {
        font-size: 1.7em;
        margin-right: 2.59em;
        margin-left: 2.59em;
    }

    h3 {
        font-size: 1.2em;
        margin-right: 3.67em;
        margin-left: 3.67em;
    }

    .about h3 {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }

    .kleureneind {
        margin-left: 4.4em;
    }
}


@media (min-width: 550px) {

    /* 70,4px */
    h2 {
        font-size: 1.7em;
        margin-right: 2.59em;
        margin-left: 2.59em;
    }

    h3 {
        font-size: 1.2em;
        margin-right: 3.67em;
        margin-left: 3.67em;
    }

    .about h3 {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }

    .kleureneind {
        margin-left: 4.4em;
    }
}

@media (min-width: 650px) {
    .maininformatie {
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media (min-width: 700px) {
    .maininformatie {
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
}

@media (min-width: 800px) {
    .maininformatie {
        margin-left: 7em;
        margin-right: 7em;
    }
    
}

@media (min-width: 880px) {
    main {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
    }

    .maininformatie {
        margin-left: auto;
        margin-right: auto;
        max-width: 50em;
    }
    
}
